<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .postcontainer{
            position: relative;
            width: 300px;
            background-color: aqua
        }
    </style>

</head>
<body>
    {% block content %}
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">LOGOUT</a>
        {% else %}
            <a href="{% url 'register' %}">SIGNUP</a>
            <a href="{% url 'login' %}">LOGIN</a>
        {% endif %}
        
        <div class="channelcontainer">
            <a href="{% url 'createchannel' %}">createchannel</a>
            {% for channel in channels %}
                <a href="{% url 'channel' channel.id %}"><h1>@{{channel}}</h1></a>
                <p>{{channel.about}}</p>
            {% endfor %}
        </div>
        <div class="postcontainer">
            <br>
            {% for post in posts %}
                <small>@{{post.channel}}</small>
                <a href="{% url 'post' post.id %}"><h1>{{post.title}}</h1></a>
                <p>{{post}}</p>
            {% endfor %}
        </div>
    {% endblock %}
</body>
</html>